[submodule "app/_lib/pr-client-utils"]
	path = app/_lib/pr-client-utils
	url = git@github.com:preitinger/pr-client-utils.git
[submodule "app/_lib/user-management-client"]
	path = app/_lib/user-management-client
	url = https://github.com/preitinger/user-management-client.git
[submodule "app/_lib/user-management-server"]
	path = app/_lib/user-management-server
	url = https://github.com/preitinger/user-management-server.git
