.passwdLabel,
.passwd,
.loginButton {
    display: block;
}

.passwd,
.loginButton {
    min-height: 40px;
}
.passwd {
    width: 30ex;
}

.comment {
    margin-top: 1rem;
}

.passwdLabel {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.passwd {
    margin-bottom: 2rem;
}
