:root {
  --theta: 85deg;
  --alpha: calc(90deg - var(--theta));
  /* --h1: 28vh; */
  --h1: 180px;
  --testTan: calc(tan(var(--alpha)));
  --w1: calc(tan(var(--alpha)) * var(--h1));
  z-index: 0;
  --beta: 3deg;
  --barTop: 593px;
  --bg-color: #551a0a;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  /* accent-color: gold; */
  accent-color: hsl(13, 99%, 63%)
}

* {
  scrollbar-color: hsl(13, 99%, 23%) #551a0a;
  scrollbar-width: thin;
}

body {
  scrollbar-color: yellow;
  scrollbar-arrow-color: gold;
  scrollbar-3dlight-color: gold;
  scrollbar-base-color: gold;
  border: 2px solid black;
}

.d1 {
  position: absolute;
  background-color: var(--bg-color);
  color: #ebebeb;
  width: 100vw;
  height: 100vh;
  /* z-index: -2; */
  margin: 0;
  padding: 0;
  top: 0;
}

.d5 {
  position: absolute;
  left: var(--w1);
  top: 0;
  width: calc(100vw - var(--w1));
  height: calc(var(--h1) + 9px);
  overflow: hidden;
}

.d6 {
  margin-top: 2rem;
  margin-left: 1rem;
}

.d2 {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;

  background-image: linear-gradient(var(--theta),
      hsla(198, 83%, 63%, 0),
      hsla(198, 83%, 63%, 0) calc(50% - 8px),
      #b4acab calc(50% - 6px),
      #b4acab calc(50% + 6px),
      hsla(198, 83%, 63%, 0) calc(50% + 8px),
      hsla(198, 83%, 63%, 0));
  /* background-position: 0 200px; */
  /* z-index: -1; */

}

.d4 {
  position: absolute;
  left: calc(1 * var(--w1) - 100vw);
  width: calc(2 * (100vw - var(--w1)));
  top: 0;
  height: calc(2 * var(--h1));
  background-image: linear-gradient(calc(-1 * var(--beta)),
      hsla(198, 83%, 63%, 0),
      hsla(198, 83%, 63%, 0) calc(50% - 8px),
      #b4acab calc(50% - 6px),
      #b4acab calc(50% + 6px),
      hsla(198, 83%, 63%, 0) calc(50% + 8px),
      hsla(198, 83%, 63%, 0));
  /* z-index: -1; */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* z-index: -1; */
  /* background-color: #551a0a; */
  color: #ebebeb;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.d3 {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* z-index: -1; */
  /* background: inherit; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 3rem;
  overflow: scroll;
}

.memberOuter {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* z-index: -1; */
  /* background: inherit; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex; */
  background-color: gray;
}

.memberInner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

@media((min-width: 610px) and (min-height: 660px)) {
  .memberInner {
    margin: auto;
    width: 600px;
    height: 650px;
    border-radius: 2rem;
    overflow: hidden;
  }
}

.debug {
  background: white;
  color: black;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* button {
  background-color: #333;
  color: inherit;
} */

*:focus {
  outline: 1px dashed gray;
  outline-offset: 2px;
}

.scrollableHor {
  /* --bg-color: #551a0a; */
  overflow: auto;

  /* kopiert von https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
  background:
    /* Shadow Cover LEFT */
    linear-gradient(to right,
      var(--bg-color) 30%,

      #551a0a00) left center,

    /* Shadow Cover RIGHT */
    linear-gradient(to right,
      #551a0a00,
      var(--bg-color) 70%) right center,

    /* Shadow LEFT */
    radial-gradient(farthest-side at 0 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)) left center,

    /* Shadow RIGHT */
    radial-gradient(farthest-side at 100% 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)) right center;

  background-repeat: no-repeat;
  background-size: 80px 100%, 80px 100%, 28px 100%, 28px 100%;
  background-attachment: local, local, scroll, scroll;

}

.scrollable {
  /* --bg-color: #551a0a; */
  overflow: auto;

  /* kopiert von https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */
  background:
    /* Shadow Cover TOP */
    linear-gradient(var(--bg-color) 30%,

      #551a0a00) center top,

    /* Shadow Cover BOTTOM */
    linear-gradient(#551a0a00,
      var(--bg-color) 70%) center bottom,

    /* Shadow TOP */
    radial-gradient(farthest-side at 50% 0,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)) center top,

    /* Shadow BOTTOM */
    radial-gradient(farthest-side at 50% 100%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)) center bottom;

  background-repeat: no-repeat;
  background-size: 100% 80px, 100% 80px, 100% 28px, 100% 28px;
  background-attachment: local, local, scroll, scroll;
}

*::selection {
  color: white;
  background-color: gray;
}


.dialog {
  background-color: black;
  color: white;
  scrollbar-color: hsl(0, 0%, 47%) #525252;
  scrollbar-width: thin;
  /* padding: 0; */
  border: none;
  border-radius: 2rem;
  box-shadow: 15px 15px 16px 0px #0E0F0E;
}

.dialog * {
  scrollbar-color: hsl(0, 0%, 47%) #525252;
  scrollbar-width: thin;
}

.dialog input {
  background-color: rgb(100, 100, 100);
  color: white;
  min-height: 40px;
  vertical-align: middle;
}

.dialog button {
  background-color: #333;
  color: inherit;
}

/* ::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
} */

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid gold;
  display: flex;
}

.form {
  background-color: white;
  border-radius: 2rem;
  margin: auto;
  /* padding: 2rem; */
  padding-top: 2rem;
  color: black;
  /* height: 400px; */
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
      linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
      linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);

  /* nicht original: */
  position: fixed;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
  z-index: 1001100;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
      transform: rotate(1turn)
  }
}

/* BEGIN button from web: */
/* From Uiverse.io by elijahgummer */ 
/* button {
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
}
button:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
} */
/* END button from web: */

