
.buttons {
  position: absolute;
  top: calc(var(--h1) + 2rem);
  left: calc(var(--w1) + 4rem);
  color: #ebebeb;
  right: 2rem;
}
.buttons a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}
