.popupOuter {
    padding: 2rem;
}
.popupContent {
    /* z-index: 100; */
    /* padding: 2rem; */
    overflow: scroll;
    max-width: 95vw;
    max-height: 85vh;
}

.popupContent button {
    /* margin: auto;
    padding: 1rem; */
    min-height: 40px;
}

.popupButtonRow {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
