.form {
    display: block;
    position: absolute;
    top: calc(var(--h1) + 2rem);
    left: calc(var(--w1) + 4rem);
    color: #ebebeb;
    right: 2rem;
}

.userLabel,
.user,
.passwdLabel,
.passwd,
.passwdRepeatLabel,
.passwdRepeat,
.registerButton {
    display: block;
    margin: 1rem;
}

.user,
.passwd,
.passwdRepeat,
.registerButton {
    min-height: 40px;
}
.user,
.passwd,
.passwdRepeat {
    width: 30ex;
}