.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main > h1 {
    margin-left: 2rem;
}

.form {
    display: block;
    position: absolute;
    top: calc(var(--h1) + 2rem);
    left: calc(var(--w1) + 4rem);
    color: #ebebeb;
    right: 2rem;
    max-width: 600px;
}

.userLabel,
.user,
.passwdLabel,
.passwd,
.passwdRepeatLabel,
.passwdRepeat,
.registerButton {
    display: block;
    margin: 2rem;
}

.user,
.passwd,
.passwdRepeat,
.registerButton {
    min-height: 40px;
}
.user,
.passwd,
.passwdRepeat {
    width: 30ex;
}

.form fieldset {
    border-radius: 5px;
}

.form fieldset:focus-within {
    border-color: white;
}

.form fieldset input {
    background-color: inherit;
    border: none;
    color: white;
    
}

.form fieldset input:focus {
    outline: none;
}

.form fieldset input::selection {
    background-color: white;
    color: var(--bg-color);
}

.innerForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: stretch; */
    width: calc(300px + 4rem);
}

.innerForm h1 {
    margin-left: 2rem;
    margin-top: 3rem;
}

.registerButton {
    align-self: center;
}