.main {
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.form {
    display: block;
    position: absolute;
    top: calc(var(--h1) + 2rem);
    left: calc(var(--w1) + 4rem);
    color: #ebebeb;
    right: 2rem;
}

.passwdLabel,
.passwd,
.loginButton {
    display: block;
}

.passwd,
.loginButton {
    min-height: 40px;
}
.passwd {
    width: 30ex;
}

.comment {
    margin-top: 1rem;
}

.passwdLabel {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.passwd {
    margin-bottom: 2rem;
}

.innerForm {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: stretch; */
    width: calc(200px + 4rem);
}

.innerForm h1 {
    margin-left: 2rem;
    margin-top: 3rem;
}

.innerForm p {
    margin-left: 2rem;
}

.loginButton {
    align-self: center;
}