.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.group {
    margin: 2rem;
    background-color: #381107;
    padding: 1rem;
    border-radius: 2rem;
}

.groupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    color: gold;
}

.edit {
    background: url('/edit_12000664.png') no-repeat center center;
    width: 40px;
    height: 40px;
    margin-left: 2rem;
    cursor: pointer;
}

.groupId {
    font-size: smaller;
    color: gray;
    padding-left: 1rem;
}

.activities > * {
    margin: 1rem;
}
.activity {
    /* margin: 1rem; */
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 1rem;
}

.activity a {
    text-decoration: underline;
    cursor: pointer;
}

.detailName {
    font-size: 1.2rem;
}

.detailDate {
    font-size: small;
    color: gray;
    padding-left: 3rem;
}

.activities {
    display: flex;
    flex-flow: row wrap;

}

.date {
    /* font-weight: bold; */
    color: gold;
}