.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: calc(var(--h1) + 2rem);
    left: calc(var(--w1) + 4rem);
    color: #ebebeb;
    right: 2rem;
    bottom: 1rem;
}

.addButton {
    display: block;
    margin-top: 1rem;
    min-height: 40px;
}

.comment {}