.container {
    position: absolute;
    top: 593px;
    left: 0;
    right: 0;
}
.childInner {
    display: flex;
    align-items: center;
    width: 80px;
    height: 60px;
    border: 1px solid black;
    box-sizing: border-box;
}
.test {
    overflow-x: scroll;
    display: flex;
}