.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: calc(1rem - 8px);
    /* 8 = 40 - 32; 32px ist breite des bildes, 40px ist breite des buttons */
    top: calc(1rem - 8px);
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
}

.menuImg {
    /* display: block; */
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menu * {
    margin: 4px;
}

.popupButtonRow {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

/* .imgTable td {
    padding: 2rem;
    background-color: lightgray;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.right {
    text-align: right;
}


.spinner {
    position: absolute;
    background: url('/Spinner@1x-1.0s-200px-200px.gif') no-repeat center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001100;
}

.picture {
    background-color: black;
    opacity: 1;
}

.aboutTable td {
    padding: 1rem;
}

.labelAndImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
