.tabButton {
    color: white;
    min-width: 60px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-decoration: underline;
}

.selected {
    color: gray;
    text-decoration: none;
}

.tabButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
}